.element__like {
	width: 22px;
	height: 19px;
	border: none;
	background: none;
	background-image: url(../../../images/elements-like.svg);
	background-repeat: no-repeat;
	background-position: center;
	align-self: center;
}

.element__like:hover {
	opacity: .5;
}

.element__like:active {
	background-image: url(../../../images/elements-like-active.svg);
}