.popup__close-button {
	width: 32px;
	height: 32px;
	border: none;
	background: none;
	background-image: url(../../../images/popup-close-icon.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: -32px;
	left: 430px;
}

@media screen and (max-width: 880px) {
	.popup__close-button {
		width: 20px;
		height: 20px;
		top: -35px;
		left: 262px;
	}
}