.popup__close-button-for-view {
	margin-top: 58px;
	width: 32px;
	height: 32px;
	border: none;
	background: none;
	background-image: url(../../../images/popup-close-icon.svg);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.popup__close-button:hover {
	opacity: .6;
}