.profile__change-button::before {
	content: "";
	background: black;
	opacity: 0;
	width: 120px;
	height: 120px;
	background-image: url(../../../images/profile-change-button.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 164px;
	left: 116px;
}

.profile__change-button:hover::before {
	opacity: 0.8;
}